.screen-wrapper {
  position: relative;
  margin: 0 auto;
}

.screen-wrapper > canvas {
  position: absolute;
  top: 0;
  left: 0;
  /* image-rendering: pixelated;
  outline: none; */
}

.FocusInfo {
  position: fixed;
  bottom: 0;
  margin: 16px;
}
