.WadExplorer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.WadExplorerToolbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}
